<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>C:\Admin.Publish</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>