<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore processPath="dotnet" arguments=".\Hello100Admin.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
				  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="$(EnvironmentName)" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="80000000" />
			</requestFiltering>
		</security>
		<rewrite>
			<outboundRules>
				<rule name="RemoveExistingCORS" preCondition="IsHTMLOrJson">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>

				<rule name="AddCustomCORS">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
					<action type="Rewrite" value="*" />
				</rule>

				<preConditions>
					<preCondition name="IsHTMLOrJson">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|application/json)" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>
	</system.webServer>
</configuration>
<!--ProjectGuid: 6ED97EB6-0DD8-4184-B846-6026DFEC0833-->