<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			
			<aspNetCore processPath="dotnet" arguments=".\Hello100Admin.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
				  <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="$(EnvironmentName)" />
				</environmentVariables>
			</aspNetCore>
			
			<security>
				<requestFiltering>
					<requestLimits maxAllowedContentLength="80000000" />
				</requestFiltering>
			</security>
			
			<rewrite>
			<outboundRules>
				<rule name="RemoveExistingCORS" preCondition="IsHTMLOrJson">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>

				<rule name="AddCustomCORS">
					<match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
					<action type="Rewrite" value="*" />
				</rule>
				<preConditions>
					<preCondition name="IsHTMLOrJson">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|application/json)" />
					</preCondition>
				</preConditions>
			</outboundRules>
			<rules>
			    <rule name="Restrict API to Internal Network" stopProcessing="true">
				      <match url="^(swagger|stoplight|api/seller/(.*))" />
				      <conditions>
				          <add input="{HTTP_X_FORWARDED_FOR}" pattern=".*211\.200\.9\.194.*" negate="true" />
				      </conditions>
				      <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Internal Access Only" />
			    </rule>
			</rules>
			</rewrite>
		</system.webServer>
	</location>
</configuration>
<!--ProjectGuid: 6ED97EB6-0DD8-4184-B846-6026DFEC0833-->